# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
config.properties
target
web/src/main/webapp/tumor_tree.txt
