log4j.properties
.idea
.mvn
target
mvnw
mvnw.cmd
*.iml
application.properties
logback.xml
*.pyc
*.DS_Store
web/src/main/javascript/public/
web/src/main/resources/static 
web/src/main/go/docs
trees/oncotree_development.json.etag
web/src/main/javascript/public/assets