@import '../../variables.module.scss';

.search-by-container {
    display: flex;
    align-items: center;
    max-width: 100px;
    cursor: pointer;
    line-height: 18px;
    font-size: .9rem;
}

.search-by-options-container {
    background-color: $secondary;
    min-width: 200px;
    z-index: 1000;
    color: black;
    position: fixed;
    top: 80px;
    border: 1px solid #eee;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: $shadow;
    border-radius: 8px;
}