springfox.documentation.swagger.v2.path=/api-docs

server.port=${port:38080}

# for topbraid e.g. https://evn.mskcc.org/evn/tbl/sparql
topbraid.url=
topbraid.username=
topbraid.password=

# for crosswalk e.g. http://data.mskcc.org/ontologies/api/concept/crosswalk?vocabularyId={vocabularyId}&conceptId={conceptId}&histologyCode={histologyCode}&siteCode={siteCode}
crosswalk.url=
# crosswalk.disable_cvs_querying is intended only for rapid deployment of test servers during development. If set to true, the CrosswalkRepository will never search CVS for external references (NCI, UMLS, ...)
crosswalk.disable_cvs_querying=false

# for slack
slack.url=

# required OncoTree version for startup/recache
required.oncotree.version=oncotree_latest_stable

# ehcache configuration
ehcache.persistence.path=
ehcache.persistence.backup.path=
ehcache.enable.statistics=false
ehcache.oncoTreeNodesEHCache.maxBytesLocalDisk=
ehcache.oncoTreeNodesEHCache.maxBytesLocalDiskUnits=
ehcache.oncoTreeVersionsEHCache.maxBytesLocalDisk=
ehcache.oncoTreeVersionsEHCache.maxBytesLocalDiskUnits=
ehcache.mskConceptEHCache.maxBytesLocalDisk=
ehcache.mskConceptEHCache.maxBytesLocalDiskUnits=
