springfox.documentation.swagger.v2.path=/api-docs

server.port=${port:38080}

# for topbraid e.g. https://evn.mskcc.org/evn/tbl/sparql
topbraid.url=
topbraid.username=
topbraid.password=
topbraid.oncotree_namespace_prefix=
topbraid.oncotree_version_namespace_prefix=
topbraid.oncotree_version_list_graph_id=

# for slack alerts
slack.url=
slack.channel=

# required OncoTree version for startup/recache
required.oncotree.version=oncotree_latest_stable

# ehcache configuration
ehcache.persistence.path=
ehcache.persistence.backup.path=
ehcache.enable.statistics=false
ehcache.oncoTreeNodesEHCache.maxBytesLocalDisk=
ehcache.oncoTreeNodesEHCache.maxBytesLocalDiskUnits=
ehcache.oncoTreeVersionsEHCache.maxBytesLocalDisk=
ehcache.oncoTreeVersionsEHCache.maxBytesLocalDiskUnits=
ehcache.mskConceptEHCache.maxBytesLocalDisk=
ehcache.mskConceptEHCache.maxBytesLocalDiskUnits=
