springfox.documentation.swagger.v2.path=/api-docs

server.port=${port:38080}

# for graphite e.g. http://localhost:7200/repositories/graphite
graphite.url=
graphite.username=
graphite.password=
graphite.oncotree_namespace_prefix=
graphite.oncotree_version_namespace_prefix=
graphite.oncotree_version_list_graph_id=

# for slack alerts
slack.url=
slack.channel=

# required OncoTree version for startup/recache
required.oncotree.version=oncotree_latest_stable

# ehcache configuration
ehcache.persistence.path=
ehcache.persistence.backup.path=
ehcache.enable.statistics=false
ehcache.oncoTreeNodesEHCache.maxBytesLocalDisk=
ehcache.oncoTreeNodesEHCache.maxBytesLocalDiskUnits=
ehcache.oncoTreeVersionsEHCache.maxBytesLocalDisk=
ehcache.oncoTreeVersionsEHCache.maxBytesLocalDiskUnits=
ehcache.mskConceptEHCache.maxBytesLocalDisk=
ehcache.mskConceptEHCache.maxBytesLocalDiskUnits=
