# Change INFO to DEBUG, if you want to see debugging info on underlying libraries we use.
log4j.rootLogger=INFO, a

# Change INFO to DEBUG, if you want see debugging info on our packages only.
log4j.category.org.mskcc=INFO
#log4j.category.org.springframework=ALL

#log4j.logger.org.springframework.security=DEBUG
#log4j.logger.org.springframework.integration=DEBUG


# Use the JVM option, e.g.: "java -DPORTAL_HOME=/pathto/portal_homedir",
# or - "java -DPORTAL_HOME=$PORTAL_HOME", where PORTAL_HOME is shell (environment) variable.

## IMPORTANT - THRESHOLD SHOULD NOT BE DEBUG FOR PRODUCTION, CREDENTIALS CAN BE DISPLAYED!

log4j.appender.a = org.apache.log4j.FileAppender

log4j.appender.a.File = /path/to/logs/oncotree.log

log4j.appender.a.layout = org.apache.log4j.PatternLayout
log4j.appender.a.layout.ConversionPattern = %d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c - %m%n
log4j.appender.a.append = true

#log4j.logger.org.hibernate=INFO, a
#log4j.logger.org.hibernate.SQL=DEBUG
#log4j.logger.org.hibernate.type=TRACE
#log4j.logger.org.hibernate.hql.ast.AST=info
#log4j.logger.org.hibernate.tool.hbm2ddl=warn
#log4j.logger.org.hibernate.hql=debug
#log4j.logger.org.hibernate.cache=info
#log4j.logger.org.hibernate.jdbc=debug
